@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #5865F2; /* Example background color */
  --foreground: #ffffff; /* Example foreground color */
  --primary: #060B27;    /* Example primary color */
  --secondary: #000000;  /* Example secondary color */
}

body {
  color: var(--primary);
  background: var(--foreground);
  font-family: 'Inter', 'Arial', 'sans-serif';
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  font-style: normal;
  src: url('/src/assets/fonts/Satoshi-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  font-style: normal;
  src: url('/src/assets/fonts/Satoshi-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('/src/assets/fonts/Inter_24pt-Regular.ttf') format('truetype');
}